<!DOCTYPE html>
<html>
    <head>
        <title>Current meals</title>
    </head>
    <body>
        <h1>Current meals</h1>
        <ul>
        {% for meal in meals %}
        {% if meal.date %}
            <li> {{ meal.dish.name }} <strong>({{ meal.date|date:"D j" }})</strong></li>
        {% else %}
            <li>{{ meal.dish.name }}</li>
        {% endif %}
        <form method="POST" action="{% url 'complete' pk=meal.id %}">
            {% csrf_token %}
            <button type="submit">✅</button>
        </form>
        <form method="POST" action="{% url 'cancel' pk=meal.id %}">
            {% csrf_token %}
            <button type="submit">❌</button>
        </form>
        {% endfor %}
        </ul>
    </body>
</html>
