{% extends "base.html" %}
{% load waffle_tags %}
{% load meal_dates %}

{% block "header" %}
    <h1>{{ page.title }}</h1>
    <a href="{% url 'shop' %}">Next</a>
{% endblock %}

{% block "body" %}
    {% flag "dates" %}
    <ul class="meals meals--dates">
    {% else %}
    <ul class="meals">
    {% endflag %}
    {% for meal in meals %}
    <li>
      {% if meal.dish.recipe_url %}
      <span class="meal-name"><a href="{{ meal.dish.recipe_url }}" rel="noreferrer">{{ meal.dish.name }}</a></span>
      {% else %}
      <span class="meal-name">{{ meal.dish.name }}</span>
      {% endif %}
      {% flag "dates" %}
      {% if meal.date %}
      <span class="meal-date set">{{ meal.date|date_name }}</span>
      {% else %}
      <span class="meal-date">Unscheduled</span>
      {% endif %}
      {% endflag %}
      <span class="actions">
        <form method="POST" action="{% url 'complete' pk=meal.id %}">
            {% csrf_token %}
            <button type="submit">✅ Eaten</button>
        </form>
        <form method="POST" action="{% url 'cancel' pk=meal.id %}">
            {% csrf_token %}
            <button type="submit">❌ Delete</button>
        </form>
      </span>
    </li>
    {% endfor %}
    </ul>
    {% flag "dates" %}
    <div class="form-foot">
      <a href="{% url 'dates' %}">📆 Plan dates</a>
    </div>
    {% endflag %}
{% endblock %}
