{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Shop</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "css/style.css" %}">
    </head>
    <body>
        <header>
          <a href="{% url 'index' %}">Plan</a>
          <h1>Shop</h1>
        </header>
        <ul class="meals">
        {% for meal in meals %}
        <li>
            <span class="meal-name">{{ meal.dish.name }}</span>
            <form method="POST" action="{% url 'delete' pk=meal.id %}">
                {% csrf_token %}
                <button type="submit">❌</button>
            </form>
        </li>
        {% endfor %}
        <li>
          <form method="POST" class="new-meal">
              {% csrf_token %}
              {{ new_meal_form }}
              <input type="submit" value="Add">
          </form>
        </li>
        </ul>
        {% if ingredients %}
        <h2>Ingredients</h2>
        <form method="POST" action="{% url 'order' %}">
          {% csrf_token %}
          <ul class="ingredients">
            {% for ingredient in ingredients %}
            <li>
              <span class="ingredient-name">{{ ingredient }}</span>
                <label for="{{ ingredient }}-have">
                  <input type="radio" id="{{ ingredient }}-have" name="{{ ingredient }}" value="have">
                  Got it
                </label>
                <label for="{{ ingredient }}-need">
                  <input type="radio" id="{{ ingredient }}-need" name="{{ ingredient }}" value="need">
                  Need it
                </label>
              </input>
            </li>
            {% endfor %}
          </ul>
          <button type="submit">🛒</button>
        </form>
        {% endif %}
        {% if no_ingredient_dishes %}
        <p>Missing ingredients for:</p>
        <ul>
          {{ no_ingredient_dishes|unordered_list }}
        </ul>
        {% endif %}
    </body>
</html>
